#fon{
    background: url('img/fon1.jpg');
    background-size: cover;
    height: 650px;
}
#block{
    width: 900px;
    background-color: rgba(0, 0, 0, 0.199);
    color: white;
    padding: 20px;
}
.block{
    width: 100%;
    background-color: brown;
    padding: 20px;
}
#BlockText1{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#BlockText2{
    border-bottom: 1px solid rgb(247, 140, 39);
}

